<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-12 col-xs">
      <div class="col-md-12" >
        <div class="card" style="background-color: rgba(0, 0, 0, 0.212); border-radius: 50px;">
          <div class="card-header d-flex justify-content-center" style="border: none;">
            <img src="../../../assets/img/Yavirac.png" alt="" style="height: 180px; width: 300px;">
          </div>
          <div class="card-body" style="height: 450px; width: 535px;">
            <form style="width: 500px;">
              <div class="form-group mt-1 mb-3">
                <label for="username" class="mb-3" style="font-size: 25px;"><b>Usuario:</b></label>
                <input type="text" class="form-control " id="username" placeholder="Ingrese su nombre de usuario"
                  style="background-color: rgba(0, 0, 0, 0.212); border-color: blue;">
              </div>
              <div class="form-group mt-4">
                <label for="password" class="mb-3" style="font-size: 25px;"><b>Contraseña:</b></label>
                <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña"
                  style="background-color: rgba(0, 0, 0, 0.212); border-color: blue;">
              </div>
              <div class="d-flex justify-content-center align-items-center mt-5">
                <button type="submit" class="btn btn-primary "
                  style="background-color: rgb(0, 0, 255); border-color: rgba(0, 0, 0, 0.567);">Iniciar Sesión</button>
              </div>
              <div class="d-flex justify-content-center align-items-center mt-3">
                <a href="#"><b>Recuperar contraseña</b></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>