<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-12">
      <div class="card" style="background-color: rgba(255, 255, 255, 0.781);">
        <div class="card-header" style="border: none;">
          <h4 class="text-center" style="font-size: 35px; padding-top: 10px;">Iniciar Sesión</h4>
        </div>
        <div class="card-body" style="height: 400px; width: 400px;">
          <form>
            <div class="form-group mt-1 mb-3">
              <label for="username" class="mb-3" style="font-size: 25px;"><b>Usuario:</b></label>
              <input type="text" class="form-control" id="username" placeholder="Ingrese su nombre de usuario">
            </div>
            <div class="form-group mt-4">
              <label for="password" class="mb-3" style="font-size: 25px;"><b>Contraseña:</b></label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
            </div>
            <div class="d-flex justify-content-center align-items-center mt-5">
               <button type="submit" class="btn btn-primary btn-block border-dark" style="background-color: rgba(137, 43, 226, 0.601);">Iniciar Sesión</button>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3">
              <a href="#"><b>Recuperar contraseña</b></a>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </div>