<div class="pos-f-t">
  <nav class="navbar p-2" style="background-color:#563d7c">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation" style="background-color: rgba(255, 255, 255, 0.673);">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarToggleExternalContent">
    <div class="offcanvas-header" style="background-color: rgba(137, 43, 226, 0.673);">
      <h5 class="offcanvas-title text-white">Menu de la biblioteca</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <label class="btn btn-secondary" style="margin-left: 20px; background: rgba(137, 43, 226, 0); border: none;">
        <input type="radio" name="options" id="option2" autocomplete="off" style="display: none;">
        <a href="##" style="text-decoration: none; color: white;">Autores</a>
      </label>
    </div>
  </div>
</div>