<div class="container-fluid">

    <app-sidebar></app-sidebar>

    <div class="row">
        <div class="col-md-12">
            <!-- Ajustes en el código de la imagen -->
            <img src="../../assets/img/como-calcular-el-lomo-de-los-libros.jpg" style="width: 100%; max-height: 300px;" class="img-fluid" alt="Responsive image">
        </div>
        <div class="p-4">
            <h2>Categorias</h2>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-4  d-flex justify-content-center align-items-center" style="margin-top: 30px;">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-center align-items-center" style="background: #563d7c; color: white;"><b>Gestion de Libros</b></div>
                <div class="card-body text-info" style="padding-left: 65px; padding-right: 65px; padding-top: 35px; padding-bottom: 35px;">
                    <a class="nav-link mx-3" routerLink="/book" style="color: white;"><i class="fas fa-book fa-lg fa-7x"
                            style="color:#563d7c;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4  d-flex justify-content-center align-items-center" style="margin-top: 30px;">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-center align-items-center" style="background: #563d7c;color: white;"><b>Gestion Categorías</b></div>
                <div class="card-body text-info" style="padding-left: 50px; padding-right: 50px; padding-top: 25px; padding-bottom: 30px;">
                    <a routerLink="/category" style="text-decoration: none; color: white;"><i class="fas fa-tags fa-lg fa-8x"
                            style="color:#563d7c;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4  d-flex justify-content-center align-items-center" style="margin-top: 30px;">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-center align-items-center" style="background: #563d7c; color: white;"><b>Gestion Alquileres</b></div>
                <div class="card-body text-info" style="padding-left: 75px; padding-right: 75px; padding-top: 20px; padding-bottom: 5px;">
                    <a routerLink="/rental" style="text-decoration: none; color: white;"><i class="fas fa-user-tie fa-8x"
                            style="color: #563d7c;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="display" style="padding-top: 80px;">
            <app-footer></app-footer>
        </div>
    </div>
</div>
